<ion-view id="savings" class="body">

	<ion-content style="top: 120px;">
	<h1 align="center" class="moon-header">How much do you want to save??</h1>
		<div style="padding: 20px 20px 20px 20px;">
			<p ng-show="gather.savings" >$</p><input class="body" ng-model="gather.savings"  style="font-size: 20px; width: 100%; padding: 20px 20px 20px 20px; border-right: none; border-left: none; border-top: none;  border-bottom-color: black; text-align: center;" placeholder="Enter Savings Goal">
		</div>
	<a class="button button-block button-positive" ui-sref="finance.account" >Get To Managing!</a>
	</ion-content>


</ion-view>