<ion-view id="update" >
	<ion-content class="has-header">
		<h1 class="moon-header" >Update Information Simultaneously</h1>	
		<div class="list list-inset">
			<h1 class="item item-divider">Personal Information:</h1>
			<label class="item item-input" >
				<input type="text" ng-model="edit.name" placeholder="Name">
			</label>
			<label class="item item-input">
				<input type="number" ng-model="edit.age" placeholder="Age" >	
			</label>
			<label class="item item-input">
				<input type="text" ng-model="edit.job"  placeholder="Job/Career">
			</label>
		</div>	
		<div class="list">
			<h1 class="item item-divider">Edit Finance Information:</h1>
			<label class="item item-input">
				<span class="input-label" >Current Amount:</span>
				<input type="text" ng-model="edit.current" placeholder="$243..">
			</label>
			<label class="item item-input">
				<span class="input-label" >Pay Check Amount:</span>
				<input type="number" ng-model="edit.amount" placeholder="$425.23..." >
			</label>
			<label class="item item-input item-select">
				<div class="input-label" >
					Weekday Pay Date:
				</div>
				<select ng-model="edit.weekday" placeholder="Weekday">
					<option value="sun" >Sunday</option>
					<option value="mon" >Monday</option>
					<option value="tue" >Tuesday</option>
					<option value="wed" >Wednesday</option>
					<option value="thur" >Thursday</option>
					<option value="fri" >Friday</option>
					<option value="sat" >Saturday</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label" >
					Pay Frequency:
				</div>
				<select ng-model="edit.frequency" placeholder="Pay Frequency">
					<option value="weekly" >Weekly</option>
					<option value="bi-weekly" >Bi-Weekly</option>
					<option value="monthly" >Monthly</option>

				</select>
			</label>					
			<label class="item item-input" ng-model="edit.goal">
				<span class="input-label">Savings Goal:</span>
				<input ng-model="edit.goal" type="number" placeholder="$5000..">
			</label>
		</div>
		<button class="button button-outline button-block button-assertive" ng-click="update(edit)">UPDATE</button>

	</ion-content>
	<ion-spinner ng-show="loading" icon="lines"></ion-spinner>
</ion-view>