<ion-view id="weekday" class="body">

	<ion-content style="top: 120px;">	
		<weekdays-list header-style="moon-header" header="What day of the week do you get paid?" extra-class="item-select selector body"  model="gather.paydayOfWeek"></weekdays-list>
			<h1 class="moon-header" style="padding-bottom: 5px;">How Often?</h1>	
		<label class="item item-select selector body" >
			<select class="often" ng-model="gather.reoccurance">
				<option value="7" >Weekly</option>
				<option value="14" >Bi-Weekly</option>
				<option value="30" >Monthly</option>
			</select>
		</label>


		<a class="button button-block button-positive" ui-sref="savings-current" >Next</a>
	</ion-content>

</ion-view>