<ion-modal-view id="extra-spending" >
	<ion-content>
		<h2 class="moon-header" >Sorry That Happened<br> :( How Much was it?</h2>

		<div class="list">
			<p class="item item-divider" >Extra Spending</p>
			<label class="item item-input" >
			<span ng-show="extra.amount">$</span><input ng-model="extra.amount" type="number" placeholder="Fill In Extra Spening Amount?">
			</label>
			<ion-checkbox ng-model="fun" >Was it for fun?</ion-checkbox>
			<div ng-show="fun">
				<h3 class="item item-divider">Was it worth it?</h3>
				<ion-radio ng-model="feeling" selected >No Regrets</ion-radio>
				<ion-radio ng-model="feeling" >Mostly</ion-radio>
				<ion-radio ng-model="feeling" >Maybe</ion-radio>
				<ion-radio ng-model="feeling" >Not Really</ion-radio>
				<ion-radio ng-model="feeling" >Dreadedful</ion-radio>
				<ion-radio ng-model="feeling">I Feel Like A Dumbass</ion-radio>
			</div>
			<button class="button button-block button-positive" ng-click="submitPayment()" >Submit</button>	
		</div>
	</ion-content>

</ion-modal-view>