<ion-view id='contact'>
	<ion-content padding="true">
	<div>
		<h1 style="text-align: center;">Contact</h1>
		<p style="text-align: justify;">If you have any questions, concerns, recommendations or would just simply love to understand more about the app or the creater fill out the form below and we will be sure to get back to you as soon as possible!</p>
	</div>
	<div>
		<label class="item item-input"  >
			<input type="text" ng-model="mail.name" placeholder="Name">
		</label>
		<label class="item item-input">
			<input type="email" ng-model="mail.email" placeholder="Email">
		</label>
		<label class="item item-input">
			<input type="text" ng-model="mail.subject" placeholder="Subject">
		</label>
		<label class="item item-input">
			<textarea ng-model="mail.content" placeholder="Content" style="height: 200px;"></textarea>
		</label>
	</div>
	 <button ng-click="sendMessage(mail)" class="button button-block button-outline button-positive" ng-disabled="!mail.name || !mail.email || !mail.subject || !mail.content">Send</button>
	</ion-content>
	<ion-spinner ng-show="loading" icon="lines"></ion-spinner>
</ion-view>