<ion-view view-title="Outcome" >
	<ion-content class="has-header">
		<h1 class="moon-header">Outcome of It all</h1>
		<h1>Currency Distribution Chart</h1>
		<nvd3 options="test.options" data="test.data"></nvd3>
		<h1>What you will have at the End of the Year?</h1>
		<nvd3 options="line.options" data="line.data" ></nvd3>
<!-- 		<h1>What you will have at the end of the year</h1>
		<h1>What you will have at 50?</h1>
		<h1>What you will have at 60</h1>
		<h1>Show Free Money and how much will happen over time</h1>
		<h1> Chart will go here</h1> -->
	</ion-content>	
</ion-view>