<ion-view id="savings" class="body">

	<ion-content style="top: 120px;">
	<h1 align="center" class="moon-header">How much do you have in savings?</h1>
		<div style="padding: 20px 20px 20px 20px;">
			<p ng-show="gather.savingsAmount" >$</p><input class="body" ng-model="gather.savingsAmount"  style="font-size: 20px; width: 100%; padding: 20px 20px 20px 20px; border-right: none; border-left: none; border-top: none;  border-bottom-color: black; text-align: center;" placeholder="Enter Savings Goal">
		</div>
	<a class="button button-block button-positive" ui-sref="goal" ng-disabled="!gather.savingsAmount" >Set a Savings Goal!</a>
	</ion-content>


</ion-view>