<ion-view id="savings" class="body">

	<ion-content style="top: 120px;">
	<h1 align="center" class="moon-header">How Much Do You Have In Savings?</h1>
		<div class="initial-input-container">
			<p ng-show="gather.savingsAmount" >$</p><input type="number" class="body" ng-model="gather.savingsAmount"   placeholder="Enter Saving's Goal Amount">
			<hr>
		</div>
	<a class="button button-block button-positive" ui-sref="goal" ng-disabled="!gather.savingsAmount" >Set A Savings Goal!</a>
	</ion-content>


</ion-view>