<ion-view id="initial" class="body">
	<ion-content style="top: 120px;">
	<h1 align="center" class="moon-header">How Much Do You Have At The Moment?</h1>
		<div class="initial-input-container">
			<p ng-show="gather.initial" >$</p><input class="body" ng-model="gather.initial" type="number"  placeholder="Enter In Initial Amount" autofocus>
			<hr >
		</div>
	<button class="button button-block button-positive" ui-sref="paycheck" ng-disabled="!gather.initial" >Next</button>
	</ion-content>

</ion-view>