<ion-view id="initial" class="body">
	<ion-content style="top: 120px;">
	<h1 align="center" class="moon-header">How much Do you have at the moment?</h1>
		<div style="padding: 20px 20px 20px 20px;">
			<p ng-show="gather.initial" >$</p><input class="body" ng-model="gather.initial"  style="font-size: 20px; width: 100%; padding: 20px 20px 20px 20px; border-right: none; border-left: none; border-top: none;  border-bottom-color: black; text-align: center;" placeholder="Enter In Initial Amount" autofocus>
		</div>
	<button class="button button-block button-positive" ui-sref="paycheck" ng-disabled="!gather.initial" >Next</button>
	</ion-content>

</ion-view>