<ion-view id="initial" class="body">
	<ion-content style="top: 50px;">
		<div class="first-input">
			<h1 align="center" class="moon-header">How Much Do You Make On Your Paycheck?</h1>
			<div class="initial-input-container" >
				<p ng-show="gather.payCheckAmount" >$</p><input class="body" type="number" ng-model="gather.payCheckAmount" placeholder="Enter Paycheck Amount" autofocus>
				<hr>
			</div>
		</div>

		<div class="second-input">
			<h1 align="center" class="moon-header">When Was The Last Day You Got Paid?</h1>
			<div class="initial-input-container">
				<input class="body" ng-model="gather.lastPayDate" on-touch="dateTouch=true"  type="date" >
				<hr>
			</div>
		</div>	
	<button class="button button-block button-positive" ui-sref="weekday" ng-disabled="!gather.payCheckAmount || !dateTouch">Next</button>
	</ion-content>

</ion-view>